fastapi==0.115.12
uvicorn[standard]==0.34.3

python-dotenv==1.1.1

pydantic==2.11.7
pydantic-settings==2.10.1

python-multipart==0.0.20

stockfish==3.28.0

openai==1.99.9
httpx==0.28.1

rich==14.1.0
orjson==3.11.1

gunicorn==23.0.0
